@import 'tailwindcss';

body {
  font-family: 'Times New Roman', Times, serif;
}

.pad-section {
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-95 {
  width: 95%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .pad-section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
