@import 'tailwindcss';

/* Glass effect for navbar */
.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

/* Cursor pointer for all interactive elements */
button,
a,
[role='button'],
[tabindex]:not([tabindex='-1']) {
  cursor: pointer;
}
