@import 'tailwindcss';

/* Glass effect for navbar */
.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

/* Cursor pointer for all interactive elements */
button,
a,
[role='button'],
[tabindex]:not([tabindex='-1']) {
  cursor: pointer;
}

/* Custom animation for Allvitr text */
@keyframes typing-disappear {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes typing-appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to { background-color: transparent }
  50% { background-color: red; }
}

.allvitr-typing-disappear {
  animation: typing-disappear 0.8s steps(7, end) forwards;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom; /* To align with the icon */
  position: relative;
}

.allvitr-typing-disappear::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 2px;
  background-color: red;
  animation: blink-caret .75s step-end infinite;
}

.allvitr-typing-appear {
  animation: typing-appear 0.8s steps(7, end) forwards;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom; /* To align with the icon */
  position: relative;
}

.allvitr-typing-appear::after {
 content: '';
 position: absolute;
 bottom: 0;
 right: 0;
 width: 10px;
 height: 2px;
 background-color: red;
 animation: blink-caret .75s step-end infinite;
}
